
* {
  font-family: Montserrat;
}
body {
  background: white;
}

.section-padding {
  padding: 100px 0;
}

/* ----------------------navbar--------------------------- */

.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-nav {
  margin-left: auto;
}

.w-100 {
  height: 100vh;
}

.hover-link {
  position: relative; 
  color: #131944;
  text-decoration: none; 
}

.hover-link::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 2px; 
  background-color: #ec691f;
  bottom: -2px; 
  left: 0; 
  transition: width 0.3s ease; 
}

.hover-link:hover::before {
  width: 100%; 
}

/* ----------------------carousel--------------------------- */


.hero .carousel-item {
  height: 100vh;
  min-height: 300px;
}

.hero .carousel-caption {
  bottom: 250px;
  z-index: 2;
}

.hero .carousel-caption h5 {
  font-size: 45px;
  letter-spacing: 2px;
  margin-top: 25px;
}

.hero .carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 25px;
  line-height: 1.9;
}

.hero .carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.hero img {
  object-fit: cover;
}
/* ----------------------button--------------------------- */

.button-24 {
  background: #ec691f;
  border: 1px solid #ec691f;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #f3f6ff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ec691f;
  /* filter: hue-rotate(0deg); */
}

.button-24:active {
  opacity: 0.5;
}

/* ----------------------responsive--------------------------- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero .carousel-caption {
    bottom: 370px;
  }
  .hero .carousel-caption p {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .hero .carousel-caption {
    bottom: 165px;
  }
  .hero .carousel-caption h5 {
    font-size: 35px; /* 35 */
  }
  .hero .carousel-caption a {
    padding: 10px 15px;
    font-size: 17px;
  }
  .hero .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 20px; /* 20 */
  }

  .about-text {
    margin-top: 2rem;
  }
  .about-text h2 {
    font-size: 30px;
  }
}

/* ----------------------logo slider--------------------------- */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/* ----------------------about content--------------------------- */

.about-text h2 {
  font-size: 40px; /* 40 */
}
.about-text p {
  font-size: 20px; /* 20 */
}

.about-img img {
  width: 100%;
  height: auto;
}

/* ----------------------desc content--------------------------- */

.desc-header-custom .section-header {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 900;
  padding-bottom: 25px;
  color: #131944;
}

.desc-header-custom .section-header:after {
  content: "";
  height: 3px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  background: #ec691f;
}

.desc-header-custom .section-header span {
  display: block;
  font-size: 15px;
  font-weight: 300;
}

.desc-custom {
  background-color: white;
}
.desc-custom .card-title {
  color: #ec691f;
}

.desc-custom .desc-header-custom h2 {
  color: black;
}

.desc-custom .card {
  position: relative;
  border-radius: 20px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: rgba(19, 25, 68, 2) 0px 3px 8px;
}

.desc-custom .card-body .svg-icon {
  position: absolute;
  bottom: 26px;
  right: 26px;
}

.desc-custom .container-svg {
  border-radius: 50px 0px 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px; 
  height: 80px; 
  background: #ec691f;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 101px;
height: 97px; */
  flex-shrink: 0;
}

.desc-custom .container-svg svg {
  vertical-align: middle;
}


/* ----------------------tiles content--------------------------- */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

.tiles-parent-container {
  background-color: #f3f6ff;
}

@media (max-width: 767px) {
  .tiles-container {
    padding-bottom: 30px;
  }
}
@media (min-width: 767px) {
  .tiles-container {
    padding-bottom: 70px;
  }
}

.tiles-header .section-header {
  position: relative;
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: center;
  font-weight: 900;
  padding-bottom: 25px;
  color: #131944;
}

.tiles-header .section-header:after {
  content: "";
  height: 3px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  background: #ec691f;
}

.tiles-header .section-header span {
  color: #131944;
  display: block;
  font-size: 15px;
  font-weight: 300;
}

.shape-box {
  display: inline-block;
  position: relative;
  justify-content:center;
  z-index: 1;
  max-width: 400px;
  height: 400px;
  margin: 30px 10px 30px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  width: 23.333%;
}

.shape-box_half {
  overflow: hidden;
  text-align: left;
}

.shape-box_half:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: skewY(53.5deg);
  transform-origin: top left;
  transition: \transform0.4s;
  background: #fff;
  z-index: 1;
}

.shape-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.bg-black {
  background-color: #000;
}

.shape-box_half figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px 30px;
  transition: \transform0.4s;
  transform: translateY(100%);
  z-index: 3;
}

.shape-box_half figcaption .show-cont {
  position: absolute;
  bottom: calc(100% + 30px);
  left: 30px;
  right: 30px;
  transition: bottom 0.4s;
}

.card-no {
  font-size: 36px;
  color: #ec691f;
  padding: 0;
  margin: 10px 0;
}

.card-main-title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #131944;
}

.card-content {
  color: #9f9f9f;
  margin-top: 20px;
  line-height: 22px;
  font-size: 15px;
}

.shape-box_half > .after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #131944;
  opacity: 0;
  transition: opacity 0.4s;
}

/*On hover*/
.shape-box_half:hover:before {
  transform: skewY(20deg);
}

.shape-box_half:hover figcaption {
  transform: translateY(0);
}

.shape-box_half:hover figcaption .show-cont {
  bottom: 100%;
}

.shape-box_half:hover > .after {
  opacity: 1;
}

.box-wrapper {
  text-align: center;
}
@media (max-width: 767px) {
  .card-wrapper {
    display: flex;

    flex-direction: column;
    justify-content: center;

    align-items: center;
  }
  .shape-box {
    width: 80%;
  }
}
@media (min-width: 767px) {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap onto the next row */
    justify-content: space-between; /* Distribute cards evenly within the flex container */
  }

  .shape-box {
    flex-basis: calc(
      33.33% - 20px
    ); /* Set the width of each card to about 1/3 of the container width, minus spacing */
    margin-bottom: 20px; /* Add some margin between cards */
    position: relative;
  }
}

/* ----------------------our team content--------------------------- */


@media (min-width: 767px) {
  .team-custom-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .team-custom-padding {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}



.team-parent-container .section-header {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 900;
  padding-bottom: 25px;
  color: #131944;
}

.team-parent-container .section-header:after {
  content: "";
  height: 3px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  background: #ec691f;
}

.team-parent-container .section-header span {
  display: block;
  font-size: 15px;
  font-weight: 300;
}


.team-container a {
  color: #ffffff;
  text-decoration: none;
}

.team-container .card {
  height: 400px;
  width: 100%;
  margin: 10px;
  perspective: 1000px;
  border-radius: 0 !important;
}

.team-container .card-content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.team-container .card:hover .card-content {
  transform: rotateY(180deg);
}

.team-container .card-front,
.team-container .card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #131944;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  transform: rotateY(0deg);
  transition: transform 0.5s ease-in-out;
}

.team-container .card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-container .card-back {
  transform: rotateY(180deg);
}

.team-container .card-back h2 {
  margin: 0;
  font-size: 26px;
}

.team-container .card-back span {
  font-size: 20px;
}

.team-container .card-back a {
  height: 20px;
  width: 20px;
  padding: 5px 5px;
  border-radius: 4px;
  line-height: 20px;
}

.team-container .card-back a:hover {
  color: #000000;
  background-color: #fff;
}


/* ----------------------counter content--------------------------- */


.outer-counter-container {
  /* background-color: #f3f6ff; */
  padding-bottom: 70px;
}

.counter-wrapper {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 50px; /* Adjust as needed */
}

.counter-container {
  width: 28vmin;
  height: 28vmin;
  /* flex: 1 1 calc(25% - 20px); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #f3f6ff;
  border-bottom: 10px solid #ec691f;
  /* text-align: center; */
  /* margin-bottom: 20px; */
}

.counter-container i {
  color: #ec691f;
  font-size: 2.5em;
  text-align: center;
}
/* 
.svg-custom svg {
  color: red;
  font-size: 2.5em;
  text-align: center;
} */


.counter-container span.counter-num {
  color: black; /* White text color */
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
.counter-container span.counter-text {
  color: black; 
  font-size: 1em;
  text-align: center;
  padding: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

@media screen and (max-width: 1024px) {
  .counter-wrapper {
    width: 85vw;
  }
  .counter-container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .counter-wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 70px;
  }
  .counter-container {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .counter-wrapper {
    gap: 15px;
  }
  .counter-container {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}

/* ----------------------testimonials content--------------------------- */


.tmcontent {
  padding: 50px 0;
  background: #f3f6ff;
}

.tmcontent section {
  display: grid;
  place-items: center;
  height: 100vh;
}

.tmcontent .section-header {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 900;
  padding-bottom: 25px;
  color: #131944;
}

.tmcontent .section-header:after {
  content: "";
  height: 3px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  background: #ec691f;
}

.tmcontent .section-header span {
  display: block;
  font-size: 15px;
  font-weight: 300;
}

.tmcontent .testimonials {
  max-width: 1000px;
  padding: 0 15px 50px;
  margin: 0 auto 80px auto;
}

.tmcontent .single-item {
  background: white;
  color: black;
  padding: 15px;
  margin: 50px 15px;
  border-radius: 50px 0px;
}

.tmcontent .profile {
  margin-bottom: 30px;
  text-align: center;
}

.tmcontent .img-area {
  margin: 0 15px 15px 15px;
}

.tmcontent .img-area img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 7px solid #ec691f;
}

.tmcontent .content {
  font-size: 18px;
}

.tmcontent .content p {
  text-align: justify;
}

.tmcontent .content p span {
  font-size: 48px;
  margin-right: 20px;
  color: #ec691f;
}

.tmcontent .socials i {
  margin-right: 25px;
}

.tmcontent .bio h4 {
  font-family: "Berkshire Swash", cursive;
}

.tmcontent .carousel-control-next-icon,
.tmcontent .carousel-control-prev-icon {
  background-color: #ec691f;
}



/* ----------------------footer content--------------------------- */


ul {
  margin: 0px;
  padding: 0px;
}


.footer-section {
background: #131944;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #ec691f;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: white;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: white;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #ec691f;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #ec691f;
border: 1px solid #ec691f;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #ec691f;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #131944;
}
.copyright-text p a{
color: #3B5998;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: black;
}
.footer-menu li a {
font-size: 14px;
color: #131944;
}
